* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    background-color:  hsl(234, 29%, 20%);
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainContainer { 
    border: 1px solid black;
    display: flex;
    background-color: white;
    border-radius: 2rem;
    justify-content: space-between;
}
.secondaryContainer {
    width: 45%;
    padding: 3rem 0 1rem 4rem;
}
.imgContainer img{
    width: auto;
    height: 100%;
}
.imgContainer {
    padding: 1.5rem 1.8rem 1.6rem 0;
}

h1 {
    font-size: 3rem;
}
input {
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px grey solid;
}
#email {
    padding-left: 1rem;
    width: 100%;
}
form p {
    margin-bottom: 3px;
}
button {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1.3rem;
    background-color: hsl(235, 18%, 26%);
    color: white;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.8rem;
}